*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --light-grey: #d6d6d6;
  --cyan: #00d3f3;
  --aqua-blue: #22d3ee;
  --sky-blue: #60a5fa;
  --blue: #3b82f6;
  --light-purple: #a78bfa;
  --pastel-green: #86efac;
  --mint-green: rgba(74, 222, 128, 0.6);
  --forest-green: rgba(34, 197, 94, 0.2);
  --sea-green: #008370;
  --grey: #999999;
  --red: #bc1b1b;
  --coral-red: rgba(248, 113, 113, 0.6);
  --crimson-tint: rgba(239, 68, 68, 0.2);
  --rose-petal: #fca5a5;
  --crimson-glow: rgba(239, 68, 68, 0.2);
  --transparent-dark-blue: #0f172a80;
  --very-dark-blue: #0f172b;
  --black: #000000;
}

body {
  background: linear-gradient(to right, var(--black), var(--very-dark-blue));
}

button {
  cursor: pointer;
}
